header {
    background-color: #fff;
    padding: 20px;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.header-main {
    text-align: center;
}

h2{
    text-align: left;
}
